@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    backdrop-filter: blur(20px);
    display:flex;
    align-items: center;
    z-index: 99;
}

.logo{
    color:#fff;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    margin-right: auto;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.user-auth{
    margin-left:40px;
}

.user-auth .login-btn-modal{
    height: 40px;
    padding: 0 35px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 16px;
    color:#fff;
    font-weight: 500; 
    cursor: pointer;
    transition: .5s;
}

.user-auth .login-btn-modal:hover{
    background-color: #fff;
    color: seagreen;
}

section{
    min-height: 100vh;
    background: url('banner.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 100px;
}

section h1{
    position: absolute;
    bottom: 40px;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}

.auth-modal{
    position: fixed;
    width: 420px;
    height: 440px;
    background: rgba(0, 0, 0, .3);
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 20px;
    box-shadow: 0 0 30x rgba(0, 0, 0, .3);
    backdrop-filter: blur(20px);
    color :#fff;
    inset: 0;
    margin:auto;
    display:flex;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: height .2s ease, transform .5s ease;
}

.auth-modal.show{
    transform: scale(1);
}

.auth-modal.slide{
    height: 520px;
}

.auth-modal .form-box{
    width: 100%;
    padding: 40px;
}

.auth-modal.slide .form-box.login, 
.auth-modal.slide .form-box.register{
    transform: translateX(0);
    transition: transform .18s ease;
}

.auth-modal.slide .form-box.login{
    transform: translateX(-400px);
    transition: none;
}

.auth-modal .form-box.register{
    position: absolute;
    transform: translateX(400px);
}

.form-box h2{
    font-size: 35px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}


.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .3);
    outline: none;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    font-size: 16px;
    color:#fff;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    cursor: pointer;
    color: #222;
    font-weight: 500;
}

.form-box p{
    text-align: center;
    margin: 25px 0 10px;
    font-size: 14.5px;
}

.form-box p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.form-box p a:hover{
    text-decoration: underline;
}

.auth-modal .close-btn-modal{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    background: #fff;
    border: none;
    border-bottom-left-radius: 20px;
    font-size: 34px;
    color: #222;
    cursor: pointer;
    z-index: 1;
}

.profile-box .avatar-circle{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 25px;    
    color: #222;
    font-weight: 600;
    cursor: pointer;
}

.profile-box .dropdown{
    position: absolute;
    top: 85;
    right:100px;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    transform: translateY(20px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}
 
.profile-box.show .dropdown{
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.profile-box .dropdown a{
    padding: 6px 12px;
    border-radius: 4px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 2px 0;
    transition: .2s;
}

.profile-box .dropdown a:hover{
    background-color: #eee;
}

.alert-box{
    position:fixed;
    inset: 0;
    top: 35px;
    margin: 0 auto;
    width: 350px;
    height: 70px;
    background: #fff;
    border-radius: 6px;
    padding: 0 15px;
    z-index: 100;
    overflow: hidden;
    transform: translateY(calc(-100% - 35px));
    transition: .5s ease;
}

.alert-box.show{
    transform: translateY(0);
}

.alert{
    display: flex;
    align-items: center;
    height:100%;
    color: #222;
    font-weight: 500;
}

.alert::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #0abf30;;
    animation: progress 6s linear forwards;
}

.alert.error::after{
    background: #f00;
}

@keyframes progress{
    100%{
        width: 0;
    }
}

.alert i{
    font-size: 35px;
    color: #0abf30;
    margin-right: 8px;
}

.alert.error i{
    color: #f00;
}